@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
body, html {
	
	scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
/*========================Nav Bar=========================*/
.nav-bar {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 70px;
    background-color: #000000;
    box-shadow: 3px 3px 10px lightslategray;
    align-items: center;
    justify-content: center;
    position: static;
    top: 0;
    z-index: 0;
}

.logo {
    flex: 1;
    font-size: 40px;
    padding: 10px;
    margin-left: 50px;
    font-family: Satisfy;
    color: #ffff;
}

ul.menu {
    flex: 1;
    display: flex;
    text-align: center;
    
}

.menu li {
    flex: 1;
    list-style-type: none;
    font-size: 23px;
    font-family: "Barlow Condensed";
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
}

.menu li a:hover {
    color:  #ffff;
    text-decoration: underline;
}

/*=============================Banner=============================*/
.banner {
    background-image: url("video.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*overflow: hidden;*/
    width: 100%;
    height: 20vh;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    /*background-size: 100%;*/
}

.banner-text-item {
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.banner-heading {
    flex: 1;
}

.banner-heading h1 {
    font-size: 140px;
    font-weight: normal;
    color: #FDE02F;
    font-family: Satisfy;
}

.banner-text-item .form {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 70%;
    padding: 1% 2%;
}

.banner-text-item input,
.banner-text-item .date,
.banner-text-item .book {
    padding: 15px;
    margin-right: 10px;
    font-size: 18px;
    font-family: Roboto;
    border-radius: 5px;
    outline: 0;
    border: none;
}

.banner-text-item input {
    width: 50%;
    flex: 2;
}

.banner-text-item .date {
    width: 20%;
    flex: 1;
}

.banner-text-item .book {
    width: 20%;
    flex: 1;
}

.banner-text-item .book {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding: 15px;
    cursor: pointer;
    background-color: #FDE02F;
    font-size: 16px;
    font-weight: normal;
    font-family: "Barlow Condensed";
    width: 20%;
}
/*=============================Result=============================*/
h1 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.flex 
{
	display: flex;
    align-items: center;
    min-height: 60vh;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.places-text {
	margin-bottom: 70px;
    text-align: center;
    margin-bottom: 10px;
}

.places-text small {
    font-family: Roboto;
    color: #FFC342;
    font-size: 30px;
    font-weight: bolder;
}

.places-text h2 {
    font-family: Barlow Condensed;
    font-size: 55px;
    color: #191D34;
    letter-spacing: 1px;
    text-align: center;
}

.card 
{
	position: center;
	margin-right: 40px;
	margin-bottom: 40px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    height: 500px;
    overflow: hidden;
    width: 400px;
}

.card > figure {
    width: 130%;
    height: 100%;
    margin: 0px auto 0 auto;
}

.card > figure > img {
    width: 130%;
    height: 100%;
}

.details {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 85%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                top .3s ease-in-out;
}

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 40%;
}

.details > .min-details,
.details > .options,
.details > .options > .options-size,
.details > .options > .options-colors {
    margin-bottom: 20px;
}

.details > .min-details {
    display: flex;
    justify-content: space-between;
}

.details > .min-details > h1 > span {
    color: #7B7B7B;
    display: block;
    font-size: .9rem;
    font-weight: 400;
}

.details > .options h1 {
    margin-bottom: 5px;
}

.details > .options ul {
    list-style-type: none;
    display: flex;
}

.details > .options ul li {
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    text-align: center;
    width: 30px;
}

.options-size > ul > li {
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    font-size: .7rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
}

.options-size > ul > li:hover {
    background-color: #192a56;
}

.options-colors > ul > li {
    border: none;
}

.options-colors > ul > li:nth-child(1) {
    background-color: #FF1;
}

.options-colors > ul > li:nth-child(2) {
    background-color: #000;
}

.options-colors > ul > li:nth-child(3) {
    background-color: #FB0000;
}

.options-colors > ul > li:nth-child(4) {
    background-color: #FF69B4;
}

.options-colors > ul > li:nth-child(5) {
    background-color: #192a56;
}

.btn {
    background-color: #192a56;
    border-radius: 5px;
    color: #FFF;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                transform .3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-2px);
}
/*===============Footer===================*/
.footer {
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.footer::before {
  position: absolute;
  content: "";
  display: block;
  background-color: rgba(0, 0, 36, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer .links {
  position: relative;
  color: #fff;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.links ul {
  list-style-type: none;
}

.links h3 {
  font-family: Barlow Condensed;
  font-weight: normal;
  font-size: 23px;
  margin-bottom: 5px;
}

.links li {
  font-family: Roboto;
  cursor: pointer;
  padding: 5px 0;
}

.links li:hover {
  color: #ffa801;
}
/*==========================Responsive=============================*/
@media all and (max-width: 1172px) {
    .banner-text-item .form {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .banner-text-item .form input,
    .banner-text-item .form .date,
    .banner-text-item .form a {
        flex: 1;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .banner-text-item .form input {
        width: 60%;
    }

    .banner-text-item .form .date {
        width: 30%;
    }

    .banner-text-item .form .book {
        width: 10%;
        font-size: 14px;
    }

    .banner-heading h1 {
        font-size: 60px;
    }
}

@media all and (max-width: 1414px) {
    .banner-text-item .form input {
        width: 40%;
    }

    .banner-text-item .form .date {
        width: 30%;
    }

    .banner-text-item .form .book {
        width: 20%;
        font-size: 14px;
    }
}

@media all and (max-width: 942px) {
    .nav-bar {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        text-align: center;
        position: static;
    }

    .logo {
        flex: 1;
        font-size: 30px;
        margin: 10px auto;
        font-family: Satisfy;
        color: #FDE02F;
    }

    .nav-bar ul {
        display: none;
    }

    .nav-bar ul li {
        flex: 1;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .services {
        display: flex;
        flex-flow: column wrap;
    }

    .services .service-item {
        flex: 1;
        margin-bottom: -130px;
        width: 400px;
    }

    .places-text {
        margin-top: 200px;
    }
}

@media all and (max-width: 928px) {
    .banner .form input, a {
        font-size: 12px;
    }
}

@media all and (max-width: 1173px) {
    .banner .form {
        background-color: transparent;
    }
}

@media all and (max-width: 1194px) {
    .places .card-box p {
        font-size: 14px;
    }
}

@media all and (max-width: 1086px) {
    .places .cards .text {
        line-height: 40px;
    }

    .cards .text .h2 {
        font-size: 12px;
    }

    .cards .img-card img {
        height: 260px;
    }
}

@media all and (max-width: 974px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 20px;
    }

    .card {
        width: 300px;
        height: 500px;
        margin: auto;
    }

    .cards .text {
        padding: 5px;
        font-family: Barlow Condensed;
    }
}

@media all and (max-width: 1116px) {
    .about {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .about-img {
        flex: 1;
        margin-bottom: 20px;
    }

    .about-text {
        flex: 1;
        margin: auto;
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .about-text h2{
        font-size: 35px;
    }

    .about-img img {
        width: 400px;
        height: 400px;
    }
}

@media all and (max-width: 708px) {
    .footer{
        width: 100%;
        height: 500px;
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
}